@use "../../style/index";

@mixin nav-theme($bg-color, $color) {
  &.scrolled {
    background: $bg-color;
    border-bottom: 1px solid $color;
    filter: drop-shadow(2px 0px 4px $color);
  }
  .links {
    flex: 1;
    @include index.flex();
    gap: 30px;
    .logo {
      @include index.tilt-neon();
      font-size: 30px;
      letter-spacing: 1px;
      font-weight: 600;
      @include index.text-gradient(to right, #e0f8f7, $color);
    }
    .nav-links {
      flex: 1;
      @include index.flex();
      gap: 20px;

      .nav-link {
        @extend .clickable;
        span {
          color: $color;
          &:hover {
            color: lighten($color, 30%);
          }
        }
      }
    }
  }
  .settings {
    flex: 1;
    @include index.flex(center, end);

    .icon {
      color: $color;
      &:hover {
        color: lighten($color, 30%);
      }
    }

    button {
      @include index.button(8px, lighten($color, 10%), $bg-color);
      font-size: 15px;
    }
  }
}
.navigator {
  z-index: 10;
  height: index.$navigaton-height;
  @include index.flex();
  gap: 30px;
  padding: 0 30px;
  background: transparent;
  position: fixed;
  width: calc(100% - 60px);
  @include nav-theme(index.$main-bg-gradient-1, index.$nav-link-color);

  &.community {
    @include nav-theme(index.$community-bg, index.$community-color);
  }
  &.docs {
    @include nav-theme(index.$docs-bg, index.$docs-color);
  }
  &.team {
    @include nav-theme(index.$team-bg, index.$team-color);
  }
}
